<script type="text/template" id="main-tpl">
    <style>

    </style>
    <div class="modal-content">
        <div class="modal-header bootstrap-dialog-draggable">
        <% if (collectionName === "task") { %>
            <h2>Добавить задание</h2>
        <% } else if (collectionName === "course") { %>
            <h2>Добавить курс</h2>
        <% } %>
        </div>
        <div class="modal-body">
            <form id="create-task-form" name="create_task_form" class="form-horizontal" enctype="application/json; charset=utf-8" method="post" action="">
            <% if (collectionName === "task") { %>
                <div class="form-option form-group">
                    <label for="is_challenge" class="control-label required col-sm-4">Тип задания</label>
                    <div class="controls col-sm-8">
                        <select class="form-control" name="is_challenge" id="is_challenge">
                            <option value="normalTask" selected>Обычное задание</option>
                            <option value="challenge">Испытание</option>
                        </select>
                    </div>
                </div>
                <div class="form-title form-group"><label for="task_title" class="control-label required col-sm-4">Название</label>
                    <div class="controls col-sm-8">
                        <input type="text" name="task_title" id="task_title" required value="" class="form-control">
                    </div>
                </div>
                <div class="form-number form-group">
                    <label for="task_number_in_course" class="control-label required col-sm-4">Номер в курсе</label>
                    <div class="controls col-sm-8">
                        <input type="text" name="task_number_in_course" id="task_number_in_course" required value="" class="form-control">
                    </div>
                </div>
                <div class="form-description form-group">
                    <label for="task_description" class="control-label required col-sm-4">Описание задания</label>
                    <div class="controls col-sm-8">
                        <input type="text" name="task_description" id="task_description" class="form-control">
                    </div>
                </div>
            <% } else if (collectionName === "course") { %>
                <div class="form-title form-group"><label for="course_name" class="control-label required col-sm-4">Название</label>
                    <div class="controls col-sm-8">
                        <input type="text" name="course_name" id="course_name" required value="" class="form-control">
                    </div>
                </div>
                <div class="form-number form-group">
                    <label for="course_number" class="control-label required col-sm-4">Номер курса</label>
                    <div class="controls col-sm-8">
                        <input type="text" name="course_number" required id="course_number" value="" class="form-control">
                    </div>
                </div>
                <div class="form-description form-group">
                    <label for="course_description" class="control-label required col-sm-4">Описание курса</label>
                    <div class="controls col-sm-8">
                        <input type="text" name="course_description" id="course_description" class="form-control">
                    </div>
                </div>
			<% } %>
			    <div class="form-group">
			        <div class="col-sm-4" style="text-align: right;">
                        <button type="button" class="btn btn-default btn-add-file-input" aria-label="Добавить еще один ввод файла">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-remove-file-input" aria-label="Удалить ввод файла">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="col-sm-8 files-input-container" data-last-input-number="1" onchange="
                        var target = event.target; 
                        console.log(event);
                        if (target.tagName != 'INPUT' && target.getAttribute('type') != 'file') return;
                        var fileName;
                        var label = target.parentElement;
                        if (!target.files.length) {
                            fileName = 'Прикрепить файл';
                        } else {
                            fileName = target.files[0].name;
                            if (fileName.length > 15) {
                                var extension = fileName.slice((fileName.lastIndexOf('.') - 1 >>> 0) + 2);
                                fileName = fileName.replace(extension, '');
                                if (fileName.length > 10) {
                                    fileName = fileName.slice(0, 10) + '..' + (extension ? extension : '');
                                }
                            }
                        }
                        label.firstChild.nodeValue = fileName;
                    ">
                        <label class="btn btn-default">Прикрепить файл
                            <input form="storage-form" type="file" name="file1" style="display: none;">
                        </label>
                    </div>
                </div>
			    <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="submit" name="save" id="save" value="Добавить" class="btn btn-primary btn-submit">
                    </div>
                </div>
            </form>
            <form name="storage_form" class="form-horizontal" id="storage-form" action="/storage" method="post" enctype="multipart/form-data">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
    </div>
    <template id="course-file-temp">
        <label class="btn btn-default add-another-file">Прикрепить файл
            <input form="storage-form" type="file" name="file" style="display: none;">
        </label>
    </template>
</script>