<script type="text/template" id="main-tpl">
<style>
    .start-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .status {
        width: 90px;
    }
    #content table {
        border: 1px solid #ddd;
        border-collapse: separate;
        border-left: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
    #courses-table th, #courses-table td {
        border-right: 0;
        border-bottom: 0;
    }
    #content .btn-controls {
        float: right;
    }
    #content .btn-create-item {
        display: none;
    }
</style>
<nav class="navbar navbar-default">
    <div class="container">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
    		<a class="navbar-brand" href="#"><%- i18n.t('app.title') %></a>
    	</div>
    	<div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="logout-btn">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <!-- <a href="#main" type="button" class="start-btn btn btn-success">Let's go!</a> -->
    <div class="row">
        <div calss="row">
            <h2 class="col-md-6 col-xs-6"><% if (collectionName === "course") {%><%-i18n.t('start.title')%><%} else if (collectionName === "task") {%>Задания курса #<%-courseNumber%><%}%></h2>
            <div class="col-md-6 col-xs-6">
                <div class="btn-group btn-controls" role="group" aria-label="Кнопоньки">
                    <%if (collectionName === "task") {%><button href="#" class="btn btn-default btn-back">Назад к курсам</button><%}%>
                    <button href="#" class="btn btn-default btn-create-item"><%if (collectionName === "course") {%>Добавить курс<%} else if (collectionName === "task") {%>Добавить задание<%}%></button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12"><p><% if (collectionName === "course") {%><%- i18n.t('start.description') %><%}%></p></div>
        <table id="courses-table" class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th class="status">Номер</th>
                    <th><%if (collectionName === "course") {%><%- i18n.t('start.name') %><%} else if (collectionName === "task") {%>Название и описание задания<%}%></th>
                    <th class="status"><%- i18n.t('start.status') %></th>
                    <th class="status"></th>
                </tr>
            </thead>
            <tbody class="courses-body">
                
            </tbody>
        </table>
    </div>
</div>
</script>
<script type="text/template" id="course-td-tpl">
    <td>
        <h3><%- itemId %></h3>
    </td>
    <td>
        <div class="row">
            <div class="col-md-8 col-xs-8">
                <h3><%- name %></h3>
                <p><%= description %></p>
            </div>
            <div class="col-md-2 col-xs-2">
                <button type="button" class="btn btn-default btn-controls btn-delete-item" data-itemId="<%- itemId %>" data-_id="<%- _id %>">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-controls btn-edit-item" data-itemId="<%- itemId %>">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </td>
    <td><span class="label label-success"><% if (_.indexOf(completedItems, _id) != -1) {
            %> Пройдено <%
        }%></span></td>
    <td><a href="#" class="btn btn-default start-course-btn">Начать</a></td>
</script>